:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fuchsia-blue-50: #faf6fd;
  --fuchsia-blue-100: #f5edfa;
  --fuchsia-blue-200: #ebdaf4;
  --fuchsia-blue-300: #dbbdea;
  --fuchsia-blue-400: #c795dd;
  --fuchsia-blue-500: #ad6bca;
  --fuchsia-blue-600: #954eb1;
  --fuchsia-blue-700: #793c8f;
  --fuchsia-blue-800: #653375;
  --fuchsia-blue-900: #552e61;
  --fuchsia-blue-950: #34143e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--fuchsia-blue-950);
  color: var(--fuchsia-blue-900);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.fact-card-header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.fact-card-header h1 {
  font-size: 2em;
  line-height: 1;
  text-align: center;
  width: 100%;
}
.fact-card-header img {
  height: 100%;
  width: 40px;
}
.fact-card-header img:nth-child(3) {
  transform: scaleX(-1);
}
.app-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: var(--fuchsia-blue-100);
}

.dog-fact-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dog-picture-select {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.dog-image {
  height: 250px;
  width: 100%;
  max-width: 300px;
  margin: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.dog-fact-info {
  background-color: var(--fuchsia-blue-300);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dog-fact {
  height: 100px;
  font-size: 1.1em;
  overflow-y: auto;
}

.random-fact-btn {
  display: flex;
  align-items: center;
  width: 250px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-transform: uppercase;
  transition: border-color 0.25s;
}

.random-fact-btn:hover {
  border-color: #646cff;
}

.random-fact-btn:focus,
.random-fact-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* texto el boton random fact */

.random-fact-btn span {
  width: 100%;
  font-size: 1.1em;
  text-align: center;
  color: var(--fuchsia-blue-200);
}

/* IMAGEN DEL BOTON RANDOM FACT */

.random-fact-btn img {
  width: 20%;
  transition: transform 0.5s ease;
}
.random-fact-btn:hover img {
  transform: rotate(360deg);
}
.random-fact-btn:active img {
  transition: transform 0.1s ease;
  transform: scale(0.5);
}

.entrada-con-animacion {
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(20px); /* Desplazado hacia abajo */
  animation: entradaAnimacion 1s forwards; /* Nombre de la animación y duración */
}

.on-touch-rotate:focus {
  animation: rotarAlTocar 1s forwards;
}

@keyframes entradaAnimacion {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotarAlTocar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
